
<div class="col-xs-9 col-xs-offset-4">
  <h1><%= @book.title %></h1>
  <div class="col-xs-4 col-xs-offset-1">
    <%= form_for [@book, @review] do |f| %>
        <%= f.label :reply %>
        <%= f.text_area :reply %>
        <%= f.label :by %>
        <%= f.text_field :by, :value => "Anonymous" %>
        <div style="margin-top:4px;">
          <%= f.submit :class => "btn btn-primary" %> <br \>
        </div>
    <% end %>
  </div>
</div>