
<div class="col-xs-2">
  <div class="container" style="padding-left:0px;">
    <p><h4><%= link_to label_tag( "Edit", nil, class: 'label label-warning' ), edit_book_path(@book) %></h4></p>
    <p><h4><%= link_to label_tag( "Delete", nil, class: 'label label-danger' ), book_path(@book), :data => { :confirm => "Are you sure?", :method => "delete"} %></h4></p>
  </div>
</div>

<div class="col-xs-8 col-xs-offset-4">
  <h1><%= @book.title %></h1>
  <div class="col-xs-2">
    <p><b>Created on</b></p><p> <%= time_conversion( @book.created_at ) %></p>
    <img src="<%= @book.image %>" height="256px" alt="">
    <p><b>ISBN10:</b> <%= @book.isbn %></p>
    <% for i in 1..@book.rating.to_i%>
        <span class="glyphicon glyphicon glyphicon-star star" aria-hidden="true"></span>
    <%end%>
  </div>
  <div class="col-xs-4">
    <p><%= @book.description.html_safe %></p>
  </div>
  <div class="col-xs-2">
    <p><h3><label class="label label-success">$<%= @book.price %>0</label></h3></p>
    <p><h3><label class="label label-info"><%= @book.genre %></label></h3></p>
    <% for i in 0..4 %>
        <%= link_to "", book_path( @book, "rating " + i.to_s ), id: "rating" + i.to_s, class: "glyphicon glyphicon glyphicon-star rateStar", :method => :put %>
    <%end%>
  </div>
  <div class="col-xs-7"></div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <hr>
      <h5><b>About the Author</b></h5>
      <p><%= @book.about.html_safe %></p>
    </div>
  </div>
  <div class="row">
    <p><b><u><%= link_to "Add a review", new_book_review_path( @book ) %></u></b></p>
    <div class="col-xs-6">
    <% @book.reviews.each do |r| %>
      <p><b><%= r.by %></b></p>
      <%= r.reply.html_safe %>
    <%end%>
    </div>
  </div>
</div>